body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

h3.subsection {
    padding-left: 7px;
    margin-top: 7px;
    background-color: #8fd2ff;
}

iframe {
    height: 50px;
    width: 150px;
}

div.columnHeader {
    font-weight: bold;
}

.my-error {
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}