@import scala.collection.mutable
@(registrationForm: Form[models.RegistrationFormData], errors: mutable.HashMap[String, String])(implicit request: RequestHeader, messages: Messages)
    @main(Messages("app.name")) {
        @request.flash.get(messages("flash.success")).map { msg =>
            <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@msg</strong>
            </div>
        }
        @request.flash.get(messages("flash.error")).map { msg =>
            <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@msg</strong>
            </div>
        }
        <form id="registration-data-form" role="form" action='@routes.UserController.addUser()' method="post" class="form-horizontal" align="center" autocomplete="off">

            <fieldset class="registration-fieldset">
                <div class="registration-form">
                    <label class="form-title" style="color: #F8741B;
                        font-size: 22px;
                        font-weight: bold;
                        text-decoration: none">@messages("page.title")</label>
                </div>
                <br/>
                <table align="center" cellspacing="20">
                    <tr>
                        <td align="left">
                            <div class="registration-form" id="firstName_field_label">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <strong>@messages("firstname")</strong> :
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div class="registration-form" id="firstName_field_value">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <input type="text" id="firstName" name="firstName" value="@registrationForm("firstName").value" placeholder="First Name" class="form-control input-lg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        @if(registrationForm != null) {
                            @for(error <- registrationForm("firstName").errors) {
                                <td class="my-error">@error.messages</td>
                            }
                        }
                    </tr>

                    <tr>
                        <td align="left">
                            <div class="registration-form" id="lastName_field_label">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <strong>@messages("lastname")</strong> :
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div class="registration-form" id="lastName_field_value">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <input type="text" id="lastName" name="lastName" value="@registrationForm("lastName").value" placeholder="Last Name" class="form-control input-lg">
                                    </div>
                                </div>
                            </div>
                        </td>
                        @if(registrationForm != null) {
                            @for(error <- registrationForm("lastName").errors) {
                                <td class="my-error">@error.messages</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="registration-form" id="email_field_label">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <strong>@messages("email")</strong> :
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div class="registration-form" id="email_field_value">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <input type="email" id="email" name="email" value="@registrationForm("email").value" placeholder="Email" class="form-control input-lg" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        @if(errors.size != 0) {
                            @if(errors.get("emailError") != null) {
                                <td class="my-error">@errors.get("emailError")</td>
                            }
                        }
                        @if(registrationForm != null) {
                            @for(error <- registrationForm("email").errors) {
                                <td class="my-error">@error.messages</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="registration-form" id="mobile_field_label">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <strong>@messages("password")</strong> :
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div class="registration-form" id="mobile_field_value">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <input type="password" id="mobile" name="password" class="form-control input-lg" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        @if(errors.size != 0) {
                            @if(errors.get("passwordError") != null) {
                                <td class="my-error">@errors.get("passwordError")</td>
                            }
                        }
                        @if(registrationForm != null) {
                            @for(error <- registrationForm("password").errors) {
                                <td class="my-error">@error.messages</td>
                            }
                        }
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="registration-form" id="mobile_field_label">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <strong>@messages("mobile")</strong> :
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div class="registration-form" id="mobile_field_value">
                                <div class="controls col-xs-offset-3 col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-registration"></span></span>
                                        <input type="tel" id="mobile" name="mobile" value="@registrationForm("mobile").value" placeholder="Mobile" class="form-control input-lg" >
                                    </div>
                                </div>
                            </div>
                        </td>
                        @if(registrationForm != null) {
                            @for(error <- registrationForm("mobile").errors) {
                                <td class="my-error">>@error.messages</td>
                            }
                        }
                    </tr>

                </table>
                <br/>
                <div class="form-actions controls ynt-btn-xlarge">
                    <button type="submit" class="addButton">Registration</button>
                </div>

            </fieldset>
        </form>

    }